#!/bin/bash 
source "{{ sdkman_install_dir }}/.sdkman/bin/sdkman-init.sh"
{% for sdk, versions in sdkman_sdk_list.items() %}
{% for version in versions %}
sdk install {{ sdk }} {{ version }}
{% endfor %}
{% endfor %}
